.inner {
  margin-left: 30px;
}

.s {
  width: 300px;
  h1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin: 6px 0 23px;
  }

  padding-bottom: 15px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.card {
  display: flex;
  align-items: flex-start;
  max-width: 300px;
  margin-top: 15px;
}

.info {
  padding-left: 15px;

  h2 {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: #999;
  }
}

.captcha {
  padding-top: 15px;
}

.list {
  padding-top: 5px;
  a {
    line-height: 24px !important;
    cursor: pointer;
    color: #000;
    transition: all 0.2s ease;

    &:hover {
      color: rgb(154, 104, 104);
    }
  }
}
