.card {
  width: 203px;
  margin-top: 20px;

  margin-right: 30px;

  cursor: pointer;
  p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

}

.info {
  display: flex;
  align-items: center;
  position: relative;
  h2 {
    max-height: 36px;
    line-height: 18px;
    font-size: 14px;
    position: relative;
    color: #009cf0;
    word-break: break-word;
  }

  svg {
    position: absolute;
    right: -30px;
  }
}

