.title {
  padding-top: 50px;
  font-size: 20px;
  line-height: 28px;
}
.recommendation {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
